"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "base16-syntax":
    scheme: "Atelier Dune"
  core:
    disabledPackages: [
      "power-mode"
      "rainbow"
      "activate-power-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "spacegray-dark-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 13
    lineHeight: 1.6
    tabType: "soft"
  "exception-reporting":
    userId: "67773382-ca53-afd5-032f-6892db9c21cc"
  rainbow:
    cycleDuration: 30000
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
