"*":
  "base16-syntax":
    scheme: "Ashes"
  core:
    disabledPackages: [
      "power-mode"
    ]
    themes: [
      "spacegray-light-ui"
      "base16-syntax"
    ]
  editor:
    fontFamily: "Input Sans"
    fontSize: 11
    lineHeight: 1.6
    tabType: "soft"
  "exception-reporting":
    userId: "67773382-ca53-afd5-032f-6892db9c21cc"
  "tree-view": {}
  welcome:
    showOnStartup: false
